.time-and-weather-container {
    border-radius: 2.1rem;
    width: 23.5rem;
    height: 10.6rem;
    background-color: #101744;
    margin-bottom: 1.6rem;
}

.display-time {
    padding-top: 10px;
    border-radius: 2.1rem 2.1rem 0px 0px;
    width: 23.5rem;
    height: 3.1rem;
    display: flex;
    justify-content: space-around;
    background: #FF4ADE;
}

.time {
    color: #FFF;
    font-family: var(--font-family-roboto);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.display-weather {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
}

.weather-icon {
    height: 4.7rem;
    width: 4.7rem;
}

.weather {
    color: #FFF;
    font-family: var(--font-family-roboto);
    font-size: 1.1rem;
    font-weight: 400;
}

.white-line {
    width: 2px;
    height: 2.8rem;
    background-color: white;
    margin-top: 1.6rem;
}

.degree-celsius {
    color: #FFF;
    font-family: var(--font-family-roboto);
    font-size: 2.5rem;
    font-weight: 400;
}

.pressure-icon {
    width: 0.7rem;
    height: 1.3rem;
}

.pressure,
.wind,
.humidity {
    display: inline-block;
    width: 4.4rem;
    color: #FFF;
    font-family: var(--font-family-roboto);
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 5px;
    line-height: 1.2rem;
}

.wind-icon {
    width: 1.7rem;
    height: 1.3rem;
}

.humidity-icon {
    width: 0.9rem;
    height: 1.3rem;
}

.wind-humidity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}